<div id="sidebar">
	<ul id="sidebar-nav">
		<li>Welcome <%= currentUser.firstName %></li>
		<li><a href="/agent/dashboard">Dashboard</a></li>
		<li><a href="/agent/collections/pending">My Pending Collections</a></li>
		<li><a href="/agent/collections/previous">My Previous Collections</a></li>
		<li><a href="/agent/profile">My Profile</a></li>
		<li><a href="/auth/logout" class="btn">Logout</a></li>
	</ul>
</div>