<div class="alerts-wrapper">
	<% if(error && error != "") { %>
		<div class="alert alert-danger alert-dismissible fade show" role="alert">
			<%= error %>
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
	<% } %>
	
	<% if(success && success != "") { %>
		<div class="alert alert-success alert-dismissible fade show" role="alert">
			<%= success %>
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
	<% } %>
	
	<% if(warning && warning != "") { %>
		<div class="alert alert-warning alert-dismissible fade show" role="alert">
			<%= warning %>
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
	<% } %>
</div>