<h1 class="m-4 color-theme">About us</h1>
	
<div class="bg-white m-4 p-4 shadow">
	<ul class="fs-5">
		<li>We, at Food Aid, provides food to poor people across the country.</li>
		<li>Our main aim is to eliminate the hunger and satisfy the food needs of needy people by providing them from our donors.</li>
	</ul>
</div>