<h1 class="m-4 color-theme">Our Mission</h1>
	
<div class="bg-white m-4 p-4 shadow">
		<h4>Our mission is to feed all the needy people and no one feels that he is going to sleep hungry today.</h4>
</div>