main
{
	height: calc(100vh - 50px);
	overflow-y: hidden;
	display: flex;
}

#main-wrapper
{
	flex-grow: 1;
	height: 100%;
	overflow-y: auto;
}

#sidebar
{
	height: 100%;
	width: 228px;	flex-shrink: 0;
	background-color: #2c3e50;
	overflow-y: auto;
	transition: 0.15s linear;
}

#sidebar-toggler-btn
{
	cursor: pointer;
}

.sidebar-hide
{
	width: 0px !important;
}

#sidebar ul
{
	list-style-type: none;
	padding: 0;
}

#sidebar ul li
{
	color: white;
	font-size: 18px;
}

#sidebar ul li:first-child, #sidebar ul li:last-child
{
	text-align: center;
	margin: 5px;
}

#sidebar ul li a:not(.btn)
{
	text-decoration: none;
	color: #c5bec9;
	display: inline-block;
	width: 100%;
	padding: 10px 15px;
}
#sidebar ul li a.active
{
	color: white;
	background-color: #595963;
	border-left: 4px solid var(--theme-color);
}
#sidebar ul li a:not(.btn):hover
{
	background-color: #656570;
}