<main>
	<%- include('../partials/agentSidebar') %>
	
	<div id="main-wrapper">
		
		<div class="bg-white shadow-sm p-3">
			<span class="me-3" id="sidebar-toggler-btn"><i class="fas fa-bars"></i></span>
			<h5 class="m-0 color-theme d-inline-block">Dashboard</h5>
		</div>
		
		<div class="d-flex gap-3 flex-wrap m-4 text-white">
			
			<div class="bg-primary rounded p-3" style="width: 300px;">
				<div class="fs-1"><%= numAssignedDonations %></div>
				<div class="fs-5">donations not collected yet</div>
			</div>
			
			<div class="bg-success rounded p-3" style="width: 300px;">
				<div class="fs-1"><%= numCollectedDonations %></div>
				<div class="fs-5">donations collected by you</div>
			</div>
			
		</div>
		
		
	</div>
</main>